nav {
    border-radius: 5px;
    border: 1px solid black;
}

.Attendance {
    border-radius: 5px;
    border: 1px solid black;
}

.Agenda {
    border-radius: 5px;
    border: 1px solid black;
}

.Unfinished {
    border-radius: 5px;
    border: 1px solid black;
}

.New {
    border-radius: 5px;
    border: 1px solid black;
}

.Comments {
    border-radius: 5px;
    border: 1px solid black;
}

.Material {
    border-radius: 5px;
    border: 1px solid black;
}