header {
    border-radius: 15px;
    border-style: ridge;
    border-color: blue;
    border-width: 20px;

    width: 30vw;
    height: 30ex;
    
    margin-top: 30pt;
    margin-left: 25vw;
    margin-right: 40vw;
    margin-bottom: 5px;

    padding-top: 15px;
    padding-left: 10vw;
    padding-bottom: 20px;
    padding-right: 10vw;

    display: block;

    position: sticky;
}

nav {
    border-radius: 5px;
    border: 1px solid black;

    width: 40vw;
    height: 35vmax;

    margin: 15px;

    padding: 20px;

    display: inline-block;
}

#Attendance {
    border-radius: 5px;
    border: 1px solid black;

    height: 37vh;
    width: 25vw;

    margin: 15px;

    padding: 20px;

    position: sticky;
    display: grid;
}

.Agenda {
    border-radius: 5px;
    border: 1px solid black;

    height: 25vh;
    width: 60vw;

    margin:auto;

    padding: 20px;

    display: inline-block;
    position: sticky;
}

.Unfinished {
    border-radius: 5px;
    border: 1px solid black;

    height: 27vh;
    width: 70vw;
    max-height: 5000px;
    max-width: 5000mm;
    min-height: 10px;
    min-width: 10px;

    margin:auto;

    padding: 20px;
}

.New {
    border-radius: 5px;
    border: 1px solid black;

    height: 27vh;
    width: 70vw;

    margin:auto;

    padding: 20px;
}

.Comments {
    border-radius: 5px;
    border: 1px solid black;

    width: 80vw;

    margin:auto;

    padding: 20px;
}

.Material {
    border-radius: 5px;
    border: 1px solid black;

    width: 50vw;

    margin: 15px;

    padding: 20px;
}

.Audio {
    border-radius: 5px;
    border: 1px solid black;

    width: 50vw;

    margin: 15px;

    padding: 20px;
}

.Video {
    border-radius: 5px;
    border: 1px solid black;

    width: 50vw;

    margin: 15px;

    padding: 20px;
}

footer {
    border-radius: 5px;
    border: 1px solid black;

    width: 35vw;

    margin-right: 5px;
    margin-left: 55vw;
    margin-bottom:auto;
    margin-top:auto;

    padding: 10px;
}